body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.text {
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    padding-top: 15%;
}

.details {
    font-size: 30px;
    text-align: center;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-right: 20px;
    background-size: cover;
    padding-bottom: 15%;
    color: white;
}

.donation-button {
    text-decoration: none;
    background-color: tomato;
    color: white;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 5px;

}

.donation-currency {
    display: flex;
    margin-left: 700px;
}

.Currency {
    margin-left: 10px;
    margin-right: 10px;
}

#currency {
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid orangered;
    background-color: rgb(241, 171, 143);
}

.donate-now {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#input {
    padding-bottom: 20px;
}